In [2]:
import numpy as np

## Question 1: What's the version of NumPy that you installed?

In [3]:
np.__version__

'1.23.3'

#### Get the data

In [6]:
import pandas as pd

In [23]:
from http import client
domain = "raw.githubusercontent.com"
path = "/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv"
conn = client.HTTPSConnection(domain)
conn.request("GET", path)
resp = conn.getresponse()
df = pd.read_csv(resp)

# Question 2: How many records are in the dataset?

In [24]:
len(df)

11914

#### Cleaning up the data

In [28]:
def clean_data(df):
    df.columns = normalize_headers(df.columns)
    
def normalize_headers(columns):
    return columns.str.lower().str.replace(' ', '_')
clean_data(df)

# Question 3: Which are the most fequent car manufacturers (top 3) according to the dataset?

In [34]:
df.groupby("make").make.count().sort_values(ascending=False).head(n=3)

make
Chevrolet     1123
Ford           881
Volkswagen     809
Name: make, dtype: int64

# Question 4: What's the number of unique Audi car models in the dataset?

In [42]:
df[df.make.str.lower()=="audi"].model.nunique()

34

# Question 5: How many columns in the dataset have missing values?

In [63]:
len(df.columns[df.isnull().sum() > 0])

5

# Question 6.1: Find the mean value of "Engine Cylinders" column in the dataset

In [65]:
df.engine_cylinders.median()

6.0

# Question 6.2: Calculate the most frequent value of the same "Engine Cylinders"

In [77]:
most_frequent = df.groupby("engine_cylinders").engine_cylinders.count().sort_values(ascending=False).head(n=1).values[0]

# Question 6.3: Use the `fillna` method to fill the missing values in "Engine Cylinder" with the most frequent value from the previous step.

In [78]:
df.engine_cylinders.fillna(most_frequent)

0        6.0
1        6.0
2        6.0
3        6.0
4        6.0
        ...
11909    6.0
11910    6.0
11911    6.0
11912    6.0
11913    6.0
Name: engine_cylinders, Length: 11914, dtype: float64

# Question 6.4: Now, calculate the median value of "Engine Cylinder" once again.

In [79]:
df.engine_cylinders.median()

6.0

# Question 7.1: Select all the "Lotus" car from the dataset

In [83]:
lotus = df[df.make.str.lower()=="lotus"]

# Question 7.2: Select only columns "Engine HP", "Engine Cylinders"

In [106]:
hp_and_cylinders=lotus[["engine_hp", "engine_cylinders"]]

# Question 7.3: Now drop all duplicated rows using `drop_duplicates` method (you should get a datafram with 9 rows)

In [151]:
unique_hp_cylinders = hp_and_cylinders.drop_duplicates()

# Question 7.4: Get the underlying NumPy array. Let's call it X

In [150]:
X = unique_hp_cylinders.values

# Question 7.5: Compute matrix-matrix multiplication between the transpose of `X` and `X`. To get the transpose, use `X.T`. Let's call the result `XTX`

In [149]:
XTX = X.T.dot(X)

# Question 7.6: Invert XTX

In [146]:
XTX_inverse = np.linalg.inv(XTX)

# Question 7.7: Create an array `y` with values `[1100,800,750,850,1300,1000,1300,800]`

In [147]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

# Question 7.8: Multiply the inverse of XTX with the transpose of `X`, and then multiply the result of `y`. Call the result `w`

In [148]:
w = XTX_inverse.dot(X.T).dot(y)

In [145]:
w

array([  4.59494481, -63.56432501])